<!DOCTYPE html>
<html>
  <head>
    <title>R7devise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to_unless_current "Home", root_path %>
    <% if current_user %>
      <%= link_to_unless_current "Dashboard", dashboard_path %>
      <%= link_to_unless_current current_user.email, edit_user_registration_path %>
      <%#= link_to "Log out (does not work)", destroy_user_session_path, method: :delete %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <%#= link_to "Log out", destroy_user_session_path, 'data-turbo-method': :delete %>
      <%#= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
    <% else %>
      <%= link_to_unless_current "Log in", new_user_session_path %>
      <%= link_to_unless_current "Register", new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
